<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>REDCOM by Fascha</title>

<!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
<link href="../static/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/datepicker3.css" rel="stylesheet">
<link href="../static/css/styles.css" rel="stylesheet">


<link href="../static/css/chart.css" rel="stylesheet">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />

<!--Icons-->
<script src="../static/js/lumino.glyphs.js"></script>

	<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:history.go(0)"><span>RED</span>COM</a>
				<a class="navbar-brand pull-right" target="_blank" href="http://reddit.com"><span class="glyphicon glyphicon-circle-arrow-right"></span> Go To <span>REDDIT</span></a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li class="parent">
				<lh id="favorites" class="dropdown-header">Selected Threads</lh>
				<ul id="example-threads">
					<li id="thread-6" class="">
						<a href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Example Thread <br>für Aufgabe (7)
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-1" class="">
						<a class="" href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Small Thread <br>/r/Showerthoughts
							<!--<svg class="glyph stroked glyphicon-chevron-right"></svg> Small Thread <br>/r/Showerthoughts-->
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-2" class="">
						<a class="" href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Medium Thread <br>/r/Jokes
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-3" class="">
						<a href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Medium Thread <br>/r/Games
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-4" class="">
						<a href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Pädophiler <br>/r/de_IAmA
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-5" class="">
						<a href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> WOW <br>/r/de_IAmA
						</a>
					</li>
					<li role="presentation" class="divider"></li>
				</ul>
			</li>
		</ul>
	</div><!--/.sidebar-->





</body>

</html>
