<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>REDCOM by Fascha</title>

<!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->
<link href="../static/css/bootstrap.css" rel="stylesheet">
<link href="../static/css/datepicker3.css" rel="stylesheet">
<link href="../static/css/styles.css" rel="stylesheet">


<link href="../static/css/chart.css" rel="stylesheet">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />

<!--Icons-->
<script src="../static/js/lumino.glyphs.js"></script>

	<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="javascript:history.go(0)"><span>RED</span>COM</a>
				<a class="navbar-brand pull-right" target="_blank" href="http://reddit.com"><span class="glyphicon glyphicon-circle-arrow-right"></span> Go To <span>REDDIT</span></a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>


	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li class="parent">
				<lh id="favorites" class="dropdown-header">Selected Threads</lh>
				<ul id="example-threads">
					<!--<li role="presentation" class="divider"></li>-->
					<li id="thread-1" class="">
						<a class="" href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Example #1
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-2" class="">
						<a class="" href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Example #2
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-3" class="">
						<a href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Example #3
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-4" class="">
						<a href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Example #4
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-5" class="">
						<a href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>Example #5
						</a>
					</li>
					<li role="presentation" class="divider"></li>
					<li id="thread-6" class="">
						<a href="#">
							<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Example Thread <br>für Aufgabe (7)
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<!--SEARCHBAR-->
		<div class="row">
			<div class="col-lg-12">
				<div id="search-bar" class="input-group">
					<input id="input-url" type="text" class="form-control" placeholder="Enter URL" />
					<span class="input-group-btn">
							<button class="btn btn-danger" id="btn-load" style="box-shadow: 0px 0px 50px #30a5ff;">LOAD</button>
						</span>
				</div>
			</div>
		</div><!--/.row-->

		<div id="start-text">
			<div class="row panel">
				<div class="col-lg-4">
					<h3 class="modal-header">What is this about?</h3>
					<p>This Tool is about analyzing and exploring communication on Reddit. There are two different layers of exploring the data. First you can get an overview with ranked comments and second you can go deeper into the discussion tree by clicking on one of the comments. This second layer represents the tree structure of Threads and gives an overview of the selected comment!</p>
				</div>
				<div class="col-lg-4">
					<h3 class="modal-header">What is Reddit?</h3>
					<p>Reddit is a social news aggregation, web content rating, and discussion website. Reddit's registered community members can submit content, such as text posts or direct links. Registered users can then vote submissions up or down to organize the posts and determine their position on the site's pages. The submissions with the most positive votes appear on the front page or the top of a category. Content entries are organized by areas of interest called "subreddits".</p>
				</div>
				<div class="col-lg-4">
					<h3 class="modal-header">Important Information</h3>
					<p>There are still bugs on this page.</p>
					<p>Some features do not work sometimes.</p>
					<p>Sometimes it may take a long time to load a Thread.</p>
					<p>Loading a Thread sometimes fails!</p>
					<p>Use this tool as an internal exploration and playground.</p>
					<p><strong>HAVE FUN!</strong></p>
				</div>
			</div>
			<div class="row" style="margin-top: 50px;">
				<h2 class="modal-header col-lg-6">HOW TO USE THIS TOOL</h2>
				<span class="col-lg-4">
					<button class="btn btn-danger btn-xlarge" id="btn-start-exploring" style="box-shadow: 0px 0px 50px #30a5ff;">START EXPLORING</button>
				</span>

				<div class="col-lg-6 panel">
					<h4 class="panel-heading">FIRSTLEVEL</h4>
					<img src="../static/img/firstLevelTutorial.PNG">
					<p>Each line belongs to one author.</p>
					<p>Each circle in a line belongs to the author.</p>
					<p>Bigger comments have better score.</p>
					<p>Less transparent comments have less replies.</p>
					<p>Time increases from left to right.</p>
				</div>
				<div class="col-lg-6 panel">
					<h4 class="panel-heading">TREE</h4>
					<img src="../static/img/secondLevelTutorial.PNG">
					<p>Each circle represents one comment.</p>
					<p>Each line represents a link between two comments.</p>
					<p>Comments with the same color are from the same author.</p>
					<p>The bigger a circle the better his score.</p>
					<p>The big green circle is the previously selected comment.</p>
				</div>
			</div>
		</div>

		<div id="main-content" style="display: none">

			<div id="load-instructions" class="panel panel-body">
				<h2 style="text-align: center">Enter a URL and click "LOAD"</h2>
				<h2 style="text-align: center">OR</h2>
				<h2 style="text-align: center">Choose a <strong style="color: #30a5ff;">Thread</strong> in the Sitebar</h2>
			</div>

			<div id="information-center" style="display: none">
				<div class="row">
					<div class="col-lg-12">
						<!--<div class="col-lg-4">-->
							<!--<div id="thread-warning" class="panel panel-info">-->
								<!--&lt;!&ndash;PLACEHOLDER&ndash;&gt;-->
							<!--</div>-->
						<!--</div>-->
						<div class="col-lg-12">
							<div  id="thread-title" class="panel panel-info">
								<!--PLACEHOLDER-->
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div id="cards">
							<div class="col-lg-3">
								<div id="authors-card" class="panel panel-default">
									<!--PLACEHOLDER-->
								</div>
							</div>
							<div class="col-lg-3">
								<div id="total-comments-card" class="panel panel-default">
									<!--PLACEHOLDER-->
								</div>
							</div>
							<div class="col-lg-3">
								<div id="first-level-comments-card" class="panel panel-default">
									<!--PLACEHOLDER-->
								</div>
							</div>
							<div class="col-lg-3">
								<div id="thread-lifetime-card" class="panel panel-default">
									<!--PLACEHOLDER-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="first-level" style="display: none;">
				<div id="first-level-vis" class="row panel">
					<div class="col-lg-10">
						<div id="main-vis">
						</div>
						<div id="slider-complete" class="row" style="display: none;">
							<div class="row" id="slider-labels">
								<p id="start-date" class="pull-left slider-label">Drag here to change <strong style="color: #30a5ff;">STARTDATE</strong></p>
								<p id="end-date" class="pull-right slider-label">Drag here to change <strong style="color: #30a5ff;">ENDDATE</strong></p>
							</div>
							<div id="x-range-slider"></div>
							<div id="timeline-visualisation"></div>
						</div>
					</div>
					<div id="main-vis-legend" class="col-lg-2" style="margin-top: 30px; margin-bottom: 30px; display: none;">
						<div id="main-vis-legend-header" class="panel-orange text-center">
							LEGEND
						</div>
						<div style="background: #f2f2f2; padding: 10px;">
							<span><span class="glyphicon glyphicon-green-fine-green-dot"></span></span> Most Replies</span>
							</br>
							<span><span class="glyphicon glyphicon-one-fine-blue-dot"></span></span> Best Score</span>
							</br>
							</br>
							<img src="../static/img/radiusScale5_2.PNG" width="50%" height="50%"> Score
							</br>
							<img src="../static/img/opacityScale5_1.PNG" width="50%" height="50%"> Replies
							</br>
							</br>
							<div id="download-graphics" class="panel-body" style="background: #a0a3a5; border-radius: 15px;">
								<a href="#" style="color: #fff">
									<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Click to <strong style="color: navy">Download Visualisation</strong>
								</a>
							</div>
							</br>
							<div id="download-raw-data" class="panel-body" style="background: #a0a3a5; border-radius: 15px;">

							</div>
							</br>
							<div id="change-ranking" class="row">
								<span class="col-lg-12 text-center panel-title" style="background: #a0a3a5; color: #fff;">Change Ranking</span>
								<form>
									<input name="mode" type="radio" value="ranking 1" id="ranking-1" checked/>
									<label for="ranking-1">  Reply heavy</label>
									<br>
									<input name="mode" type="radio" value="ranking 2" id="ranking-2">
									<label for="ranking-2">  Score heavy</label>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="second-level" style="display: none;">
				<div class="row panel">
					<div class="row">
						<div>
							<button class="btn btn-sm btn-default" id="btn-back" style="margin: 10px;">BACK TO OVERVIEW</button>
							<button class="btn btn-sm btn-default" id="btn-disable-zoom" style="margin: 10px;">Disable Zoom and Pan</button>
							<!--<button class="btn btn-sm btn-primary" id="btn-basdack" style="margin: 10px;">More Info</button>-->
						</div>
					</div>
					<div class="row">
						<div id="tree" class="col-lg-7" style="padding-top: 20px; padding-bottom: 20px;">

						</div>
						<div id="second-vis-legend" class="col-lg-5" style="margin-top: 30px; margin-bottom: 30px;">
							<div  style="background: #f1f4f7">
								<div id="details-1" style="background: #f1f4f7"></div>
								<div id="body-1" class="shortenbody" style="background: #f1f4f7; padding-left: 10px;"></div>
							</div>
							<div class="second-level-details" style="background: #f1f4f7">
								<div id="details-2" style="background: #f1f4f7"></div>
								<div id="body-2" style="background: #f1f4f7; padding-left: 10px;"></div>
							</div>
						</div>
					</div>
					<div class="row panel panel-blue" style="padding-left: 40px;">
						<h4>Big <strong style="color: red">RED CIRCLES</strong> represent the original poster</h4>
						<h4>Big <strong style="color: green">GREEN CIRCLE</strong> represent the above clicked comment</h4>
						<h4>Big <strong style="color: yellow">YELLOW CIRCLE</strong> represent the parent of the clicked comment</h4>
						<h4>Select a circle to show details</h4>
						<h4>Scroll inside the box to zoom</h4>
					</div>
				</div>
			</div>
		</div>

	</div>


	<!--<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>-->
	<!--<script src="../static/js/chart-data.js"></script>-->

	<!--<script src="../static/js/easypiechart.js"></script>-->
	<!--<script src="../static/js/easypiechart-data.js"></script>-->
	<!--<script src="../static/js/bootstrap-datepicker.js"></script>-->

	<!--D3 v4-->
	<!--<script src="https://d3js.org/d3.v4.min.js"></script>-->

	<!--D3 v3-->
	<!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
	<script src="../static/js/d3.v3.min.js"></script>

	<script type="text/javascript" src="http://rawgit.com/krunkosaurus/simg/v1.1.2/src/simg.js"></script>

	<!--<script src="http://momentjs.com/downloads/moment.min.js"></script>-->

	<script src="../static/js/jquery-1.11.1.min.js"></script>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

	<script src="http://viralpatel.net/blogs/demo/jquery/jquery.shorten.1.0.js"></script>

	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/chart.min.js"></script>

	<!--MY SCRIPTS-->
	<script src="../static/js/setup.js"></script>
	<script src="../static/js/utility.js"></script>
	<script src="../static/js/sitebar.js"></script>
	<script src="../static/js/mainVis.js"></script>
	<script src="../static/js/crawlconvo.js"></script>
	<script src="../static/js/force_advanced.js"></script>
	<script src="../static/js/secondLevelVis.js"></script>


</body>

</html>
