<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .node {
            fill: #ccc;
            stroke: #fff;
            stroke-width: 2px;
        }

        .link {
            stroke: #777;
            stroke-width: 2px;
        }

    </style>



</head>
</head>
<body>


    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script src="../static/js/crawlconvo.js"></script>
    <script src='http://d3js.org/d3.v3.min.js'></script>
    <script src="../static/js/force_advanced.js"></script>


</body>
</html>